.dropdown-menu-right {
	right: 0;
	left: auto;
}

.header-carousel-item {
	background-size: cover;
	background-position: center center;
	min-height: 400px;
}

/* 圖要適當的呈現方法*/
.jumbotron-bg {
	background-image: url(https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZWF0aW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60);
	background-size: auto;
	background-position: center center;
	min-height: 400px;
}

.jumbotron-resume-bg {
	background-image: url(https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmVhY2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60);
	background-size: auto;
	background-position: center center;
	min-height: 400px;
}

.jumbotron-tennis-bg {
	background-image: url(https://media.istockphoto.com/id/1184407264/photo/sport.jpg?s=612x612&w=0&k=20&c=-iXm9IZO4tR225qBoOzt3Gt3v4_9aAMOECAxzFElzuE=);
	background-size: auto;
	background-position: center center;
	min-height: 400px;
}


.bg-carousel {
	background-size: auto;
	background-position: center center;
}

.bg-lighter {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 25px;
}

.bg-lighter2 {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 25px;
}

/* 陰影部分 1.水平移動2.上下垂直3.擴散*/
.box-shadow {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	transition: box-shadow .3s;
}

.box-shadow:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
}

.card-high {
	height: 100%;
}

/* 字體大小*/
.fz-45 {
	font-size: 45px;
}

.fz-50 {
	font-size: 50px;
}

.fz-20 {
	font-size: 20px;
}


/* 首頁底下分隔線 */
.hr-edge-weak {
	border: 0;
	padding-top: 3px;
	background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}

.footer1 {
	background: #13ab67;
	padding: 150px;
}

/* 底下ICON */
.bottomIcon {
	background: #D5AD78;
	border: none;
	border-radius: 50%;
}

.mt150 {
	margin-top: 150px;
}

/* 顏色 */
.bg-milktea {
	background: #D5AD78;
}

.bg-mainGreen {
	color: #13ab67;
}

.bg-mainblue {
	color: #f4f7f8;
}

#purple-button {
	background-color: white;
	border-color: #000;
	border-width: 2px;
}

#purple-button:active {
	background-color: #F7F0FF;
	color: #772AD9;
	border-color: #772AD9;
	border-width: 2px;
}

.bg-shadow {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2)
}

.dop {
	cursor: pointer;
}